
nav ul li a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-menu {
  overflow: hidden;
  height:100vh;
  background: var(--nav-primary);
  padding-top: 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: var(--nav-text-primary);
  font-family: sans-serif;
}

.logo {
  display: none;
}

.nav-item {
  position: relative;
  display: block;
}

.nav-item .link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--nav-text-primary);
  font-size: 20px;
  padding: 20px 0;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height:60px;
}

.nav-item b:nth-child(1) {
  position: absolute;
  top: -15px;
  height: 15px;
  width: 100%;
  background: var(--nav-selected);
  display: none;
}

.nav-item b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: var(--nav-primary);
}

.nav-item b:nth-child(2) {
  position: absolute;
  bottom: -15px;
  height: 15px;
  width: 100%;
  background: var(--nav-selected);
  display: none;
}

.nav-item b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: var(--nav-primary);
}

.nav-item.active b:nth-child(1),
.nav-item.active b:nth-child(2) {
  display: block;
}

.nav-item.active .link {
  text-decoration: none;
  color: var(--nav-primary);
  background: var(--nav-selected);
}

.nav-icon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
  margin-left: 10px;
}

.nav-text {
  display: block;
  width: 120px;
  height: 30px;
}


@media (max-width: 999px) {
  /* main {
    grid-template-columns: 6% 94%;
  } */

  .main-menu h1 {
    display: none;
  }

  .logo {
    display: block;
    width: 30px;
    margin: 20px auto;
  }

  .nav-text {
    display: none;
  }
}

