@import "tailwindcss";

:root {
    --bg-primary: #ffffff;
    --bg-secondary: #a0d9de;
    --text-primary: #000000;
    --text-secondary: #252121;

    --button-primary: none;
    --button-primary-shadow: rgba(0, 0, 0);
    --button-primary-hover-shadow: rgba(0, 0, 0);
    --button-primary-click: rgba(0, 0, 0, 0.151);
    --button-primary-click-shadow: rgb(0, 0, 0);
    --button-primary-border: rgba(0, 0, 0);

    --button-nav-primary: rgb(255, 255, 255);
    --button-nav-primary-shadow: rgba(226, 214, 216, 0.661);
    --button-nav-primary-hover-shadow: rgba(232, 218, 220, 0.825);
    --button-nav-primary-click: rgba(255, 255, 255, 0.151);
    --button-nav-primary-click-shadow: rgb(237, 227, 229);
    --button-secondary: #71b8e4;
    --nav-primary: rgb(73, 57, 113);
    --nav-selected: #ffffff;
    --nav-secondary: #1b1a33;
    --nav-text-primary: #ffffff;
    --nav-text-selected: #000000;

    --modal-primary: #ffffff;
    --modal-shadow: rgba(0, 0, 0, 0.151);
    --modal-text: #000000;

    --dialog-bg: rgba(0, 0, 0, 0.5);

    --loader-color: #000000;
    --loader-bg: #968c8c28;

    --dropdown-name-bg:  rgb(73, 57, 113);
    --dropdown-name: white;
    --dropdown-menu-bg: rgba(226, 214, 216, 0.661);
    --dropdown-menu-hover: rgba(255, 255, 255, 0.901);

    --textbox-border:#8884d8;
}

[data-theme="dark"] {
    --bg-primary: #1a1c36;
    --bg-secondary: #a0d9de;
    --text-primary: #ffffff;
    --text-secondary: #cdc8c8;

    --button-primary: none;
    --button-primary-shadow: rgb(255, 255, 255);
    --button-primary-hover-shadow: rgb(255, 255, 255);
    --button-primary-click: rgba(255, 255, 255, 0.151);
    --button-primary-click-shadow: rgb(255, 255, 255);
    --button-primary-border: rgb(255, 255, 255);

    --button-nav-primary: rgb(0, 0, 0);
    --button-nav-primary-shadow: rgba(29, 26, 27, 0.661);
    --button-nav-primary-hover-shadow: rgba(28, 27, 27, 0.825);
    --button-nav-primary-click: rgba(0, 0, 0, 0.108);
    --button-nav-primary-click-shadow: rgb(38, 35, 36);

    --button-secondary: #71b8e4;
    --nav-primary: rgb(179, 169, 202);
    --nav-secondary: #1b1a33;
    --nav-selected: #1a1c36;
    --nav-text-primary: #000000;
    --nav-text-selected: #ffffff;

    --modal-primary: #ffffff;
    --modal-shadow: rgba(0, 0, 0, 0.151);
    --modal-text: #000000;

    --dialog-bg:rgba(255, 255, 255, 0.103);

    --loader-color: #ffffff;

    --dropdown-name-bg:  rgb(179, 169, 202);
    --dropdown-name: black;
    --dropdown-menu-bg: rgba(226, 214, 216, 0.897);
    --dropdown-menu-hover: rgba(185, 159, 202, 0.853);

    --textbox-border:#8884d8;
}


.button-nav-primary {
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid var(--button-nav-primary);
    background-color: var(--nav-primary);
    letter-spacing: 1.5px;
    font-size: 15px bold;
    transition: all 0.3s ease;
    box-shadow:  var(--button-nav-primary-shadow) 0px 10px 0px 0px;
    color: var(--nav-text-primary);
    cursor: pointer;
}
.button-nav-primary:hover {
    box-shadow:  var(--button-nav-primary-hover-shadow) 0px 7px 0px 0px;
}
.button-nav-primary:active {
    background-color: var(--button-nav-primary-click);
    box-shadow:  var(--button-nav-primary-click-shadow) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.button-primary {
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid var(--button-primary-border);
    background-color: var(--button-primary);
    letter-spacing: 1.5px;
    font-size: 15px bold;
    transition: all 0.3s ease;
    box-shadow:  var(--button-primary-shadow) 0px 10px 0px 0px;
    color: var(--text-primary);
    cursor: pointer;
}
.button-primary:hover {
    box-shadow:  var(--button-primary-hover-shadow) 0px 7px 0px 0px;
}
.button-primary:active {
    background-color: var(--button-primary-click);
    box-shadow:  var(--button-primary-click-shadow) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.button-close {
    padding: 5px 5px;
    border-radius: 40px;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(239, 84, 84);
    background-color: none;
    color:  rgb(239, 84, 84);
    letter-spacing: 1.5px;
    font-size: 15px bold;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
}
.button-close:active {
    background-color: rgba(192, 100, 100, 0.437);
}

.delete-btn-primary {
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid rgb(218, 21, 21);
    background-color: none;
    letter-spacing: 1.5px;
    font-size: 15px bold;
    transition: all 0.3s ease;
    box-shadow:  rgba(232, 81, 81, 0.952) 0px 10px 0px 0px;
    color: rgb(218, 21, 21);
    cursor: pointer;
}
.delete-btn-primary:hover {
    box-shadow:  rgb(190, 35, 35) 0px 7px 0px 0px;
}
.delete-btn-primary:active {
    background-color: rgba(206, 131, 131, 0.257);
    box-shadow:  rgb(190, 35, 35) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.edit-btn-primary {
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid rgb(98, 199, 239);
    background-color: none;
    letter-spacing: 1.5px;
    font-size: 15px bold;
    transition: all 0.3s ease;
    box-shadow:  rgb(139, 202, 227) 0px 10px 0px 0px;
    color: rgb(98, 199, 239);;
    cursor: pointer;
}
.edit-btn-primary:hover {
    box-shadow:  rgba(10, 142, 195, 0.675) 0px 7px 0px 0px;
}
.edit-btn-primary:active {
    background-color: rgba(139, 204, 230, 0.247);
    box-shadow:  rgba(10, 142, 195, 0.675) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

::-webkit-scrollbar {
    display: none;
    width: 5px; /* Adjust width as needed */
    height: 5px; /* For horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    display: none;
    background: transparent; /* Makes the track invisible */
  }
  
  ::-webkit-scrollbar-thumb {
    display: none;
    background: rgb(192, 186, 186); /* Customize the thumb color */
    border-radius: 10px; /* Optional: makes the thumb rounded */
  }

  .textbox{
    /* padding: 10px; */
    border-radius: 10px;
    border: 2px solid var(--textbox-border);
    background-color: var(--button-primary);
    letter-spacing: 1.5px;
    font-size: 15px bold;
    color: var(--text-primary);
    cursor: pointer;
    
  }

  .textbox::-webkit-input-placeholder {
    color: grey;
  }