/*.loader-container {
    background: #00cc99; 
    position: center;
    width: 100vh;
    height: 100vw;
    top: 0;
    left: 0;
    background-color: ;
  } */
  
  #loader {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px -50px;
  }
  
  .loader-circle {
    width: 20px;
    height: 20px;
    background: var(--loader-color);
    border-radius: 50%;
    position: absolute;
    animation: animate 2s linear infinite;
  }
  
  @keyframes animate {
    0% { left: 100px; top:0 }
    80% { left: 0; top:0; }
    85% { left: 0; top: -20px; width: 20px; height: 20px; }
    90% { width: 40px; height: 15px; }
    95% { left: 100px; top: -20px; width: 20px; height: 20px; }
    100% { left: 100px; top:0; }
  }
  
  .loader h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: .5;
    font-family: sans-serif;
    color: #fff;
  }