.modal-container{
    background: var(--modal-primary);
    box-shadow: 10px 10px 10px 10px var(--modal-shadow);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--modal-text);
}

.modal-header {
    display:flex;
    height:50px;
    width:100%;
}

.modal-name {
    display:flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family:"var(--font-primary)";
    top:0;
    left:0;
    padding:5px;
}