.dropdown-container {
    position: relative;
    display: inline-block;
}

.custom-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    background-color: var(--dropdown-name-bg);
    color: var(--dropdown-name);       
}

.dropdown-icon {
    transition: transform 0.2s ease-in-out;
}

.dropdown-icon.rotate {
    transform: rotate(180deg);
}

.custom-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background: var(--dropdown-menu-bg);
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 25px;
    
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    overflow: scroll;
}

.dropdown-item:hover {
    background-color: var(--dropdown-menu-hover);
    border-radius: 25px;
}
