.custom-dropdown {
    display: flex;
    align-items: center;
    background-color: rgb(37, 10, 101);
    border-radius: 4px;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.dropdown-icon {
    margin-left: 8px;
    color: white;
    font-size: 14px;
    pointer-events: none;
}

.custom-dropdown-menu {
    position: absolute;
    top: 100%; /* Position below the dropdown */
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.custom-dropdown-menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.custom-dropdown-menu .dropdown-item {
    padding: 8px 12px;
    color: black;
    cursor: pointer;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: #f5f5f5;
}